<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>

    <link rel="stylesheet" href="/css/AdminUIPorfil.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="/js/features.js"></script>

</head>
<body>

<div class="pagewrapper">

    <div class="topbar">
        <button onclick="goBack()" class="backBtn">← Back</button>
        <div id="adminBox">
            <h3>Admin</h3>
        </div>

        <div id="companyName">
            <h2>The Cupcake Co. 🧁</h2>
        </div>

        <div id="adminProfile">
            <h4>Profile (Admin@gmail.com)</h4>
        </div>
    </div>

    <div class="contentwrapper">

        <div class="mainobjectbox">
            <h2 id="myProfileText">My profile</h2>

            <hr class="boxline">

            <div class="profileRow">
                <h3 class="profileLabel">Name:</h3>
                <p class="profileValue">Admin</p>
            </div>

            <hr class="boxline">

            <div class="profileRow">
                <h3 class="profileLabel">Email:</h3>
                <p class="profileValue">admin@gmail.com</p>
            </div>

            <hr class="boxline">

            <div class="profileRow">
                <h3 class="profileLabel">Role:</h3>
                <p class="profileValue">Administrator</p>
            </div>

            <hr class="boxline">
        </div>

        <div class="adminUIBar">
            <div id="adminTitle">
                <h2>Admin UI</h2>
            </div>

            <hr class="boxline">

            <div id="adminFeaturesText">
                <h3>Admin features</h3>
            </div>

            <a href="/view-all-users" class="adminLink">
                <div class="viewButton">
                    <h4 id="viewAllUsers">View all users</h4>
                </div>
            </a>

            <a href="/view-all-orders" class="adminLink">
                <div class="viewOrdersButton">
                    <h4 id="viewAllOrders">View all orders</h4>
                </div>
            </a>
        </div>

    </div>

</div>

</body>
</html>