<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin UI</title>

    <link rel="stylesheet" href="/css/AdminViewSpecificUser.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="pagewrapper">

    <div class="topbar">
        <div id="adminBox">
            <h3>Admin</h3>
        </div>

        <div id="titleName">
            <h2>
                <a href="/admin-profile" class="headerTitleLink">The Cupcake Co. 🧁</a>
            </h2>
        </div>

        <div id="adminProfile">
            <h4>
                Profile (
                <span th:text="${currentUser.email}">admin@gmail.com</span>
                )
            </h4>
        </div>
    </div>

    <div class="mainobjectbox">

        <h2 id="adminTitle">Admin UI</h2>

        <hr class="boxline">

        <div class="ordersScrollArea">

            <div class="orderCard bigCard">
                <div class="orderInfo">
                    <h3 th:text="${selectedUser.firstName + ' ' + selectedUser.lastName}">
                        Khalo
                    </h3>
                    <p th:text="${selectedUser.email}">
                        Khalo@gmail.com
                    </p>
                </div>

                <div class="rightInfo">
                    <span class="infoBox"
                          th:text="'Saldo: ' + ${#numbers.formatDecimal(selectedUser.balance,1,2)} + ' kr'">
                        Saldo: -0.03kr
                    </span>

                    <span class="infoBox"
                          th:text="'Orders: ' + ${orders.size()}">
                        Orders: 3
                    </span>
                </div>
            </div>

            <div class="orderCard" th:each="order : ${orders}">
                <div class="orderInfo">
                    <h3 th:text="'Order #' + ${order.orderId}">Order #1</h3>
                    <p th:text="${#numbers.formatDecimal(order.total,1,2)} + ' kr'">
                        10kr
                    </p>
                </div>

                <form th:action="@{/admin/delete-order}" method="post">
                    <input type="hidden" name="orderId" th:value="${order.orderId}">
                    <input type="hidden" name="userId" th:value="${selectedUser.userId}">
                    <button type="submit" class="deleteButton">Delete</button>
                </form>
                </form>
            </div>

        </div>

    </div>

</div>

</body>
</html>