<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin UI</title>

    <link rel="stylesheet" href="/css/AdminViewSpecificUser.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="pagewrapper">

    <div class="topbar">
        <button onclick="goBack()" class="backBtn">← Back</button>
        <div id="adminBox"><h3>Admin</h3></div>

        <div id="companyName">
            <h2>The Cupcake Co. 🧁</h2>
        </div>

        <div id="adminProfile">
            <h4>Profile (Admin@gmail.com)</h4>
        </div>
    </div>

    <div class="mainobjectbox">

        <h2 id="adminTitle">Admin UI</h2>

        <hr class="boxline">

        <div class="ordersScrollArea">

            <div class="orderCard bigCard">
                <div class="orderInfo">
                    <h3>Khalo</h3>
                    <p>Khalo@gmail.com</p>
                </div>

                <div class="rightInfo">
                    <span class="infoBox">Saldo: -0.03kr</span>
                    <span class="infoBox">Orders: 3</span>
                </div>
            </div>

            <div class="orderCard">
                <div class="orderInfo">
                    <h3>Order #1</h3>
                    <p>10kr</p>
                </div>

                <button class="deleteButton">Delete</button>
            </div>

            <div class="orderCard">
                <div class="orderInfo">
                    <h3>Order #34</h3>
                    <p>120kr</p>
                </div>

                <button class="deleteButton">Delete</button>
            </div>

            <div class="orderCard">
                <div class="orderInfo">
                    <h3>Order #11</h3>
                    <p>100kr</p>
                </div>

                <button class="deleteButton">Delete</button>
            </div>

        </div>

    </div>

</div>

</body>
</html>