<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Cupcake Co.</title>
    <link rel="stylesheet" href="../public/css/buildYourOwnCupcake.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <a href="#">Order cupcakes here</a>
</div>

<div class="pagewrapper">

    <div class="headerbox">
        <div id="saldoBox">
            <span id="saldoText">Saldo:</span>
            <div id="saldoAmount">
                <span th:text="${currentUser.balance}">198.99 kr.</span>
            </div>
        </div>

        <h1>The Cupcake Co. 🧁</h1>

        <div id="profileBox">
            <a href="#">Profile (mail@gmail.com)</a>
            <span>/</span>
            <a href="#">Basket</a>
        </div>
    </div>

    <div class="mainobjectbox">

        <div id="builderTitleBox">
            Build your cupcake 🧁
        </div>

        <!-- TOPPING -->
        <div class="sectionbox">
            <div class="sectiontitle">Choose topping</div>

            <div class="sectioncontent">

                <label class="card">
                    <input type="radio" name="topping" value="Chocolate">
                    <div class="cardHeader">
                        <span class="cardName">Chocolate</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/CocoTop.png" alt="Chocolate topping">
                    <span class="price">15kr</span>
                </label>

                <label class="card">
                    <input type="radio" name="topping" value="Strawberry">
                    <div class="cardHeader">
                        <span class="cardName">Strawberry</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/StrawBerryTop.png" alt="Strawberry topping">
                    <span class="price">55kr</span>
                </label>

                <label class="card">
                    <input type="radio" name="topping" value="Vanilla" checked>
                    <div class="cardHeader">
                        <span class="cardName">Vanilla</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/VanilaTop.png" alt="Vanilla topping">
                    <span class="price">10kr</span>
                </label>

                <label class="card">
                    <input type="radio" name="topping" value="Pistachio">
                    <div class="cardHeader">
                        <span class="cardName">Pistachio</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/PestTop.png" alt="Pistachio topping">
                    <span class="price">17kr</span>
                </label>

                <label class="card">
                    <input type="radio" name="topping" value="Almond">
                    <div class="cardHeader">
                        <span class="cardName">Almond</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/NutsTop.png" alt="Almond topping">
                    <span class="price">40kr</span>
                </label>

            </div>
        </div>

        <!-- BOTTOM -->
        <div class="sectionbox">
            <div class="sectiontitle">Choose bottom</div>

            <div class="sectioncontent">

                <label class="card">
                    <input type="radio" name="bottom" value="Chocolate" checked>
                    <div class="cardHeader">
                        <span class="cardName">Chocolate</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/CocoBottom.png" alt="Chocolate bottom">
                    <span class="price">10kr</span>
                </label>

                <label class="card">
                    <input type="radio" name="bottom" value="Strawberry">
                    <div class="cardHeader">
                        <span class="cardName">Strawberry</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/BottomOne.png" alt="Strawberry bottom">
                    <span class="price">45kr</span>
                </label>

                <label class="card">
                    <input type="radio" name="bottom" value="Vanilla">
                    <div class="cardHeader">
                        <span class="cardName">Vanilla</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/BottomTwo.png" alt="Vanilla bottom">
                    <span class="price">20kr</span>
                </label>

                <label class="card">
                    <input type="radio" name="bottom" value="Pistachio">
                    <div class="cardHeader">
                        <span class="cardName">Pistachio</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/BottomThree.png" alt="Pistachio bottom">
                    <span class="price">10kr</span>
                </label>

                <label class="card">
                    <input type="radio" name="bottom" value="Almond">
                    <div class="cardHeader">
                        <span class="cardName">Almond</span>
                        <span class="customRadio"></span>
                    </div>
                    <img src="../public/images/BottomFour.png" alt="Almond bottom">
                    <span class="price">50kr</span>
                </label>

            </div>
        </div>

        <!-- ACTION -->
        <div class="bottomBar">

            <div class="quantityBox">
                <span class="quantityLabel">Quantity:</span>

                <div class="quantityControl">
                    <button type="button" class="quantityButton">-</button>
                    <input type="number" value="3" min="1" class="quantityInput">
                    <button type="button" class="quantityButton">+</button>
                </div>
            </div>

            <div class="priceDisplay">
                <span>Price: 10kr</span>
            </div>

            <button type="button" class="basketButton">Add to basket</button>

        </div>

    </div>

</div>

</body>
</html>