<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="topbar">
    <div id="info">
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div id="frontsideheader">
        <h2>Design your own cupcake 🧁</h2>
    </div>
    <div id="signinfo">
        <a href="#signup">Sign up</a>
        <a href="#signin">Sign in</a>
    </div>
</div>

<div id="frontsidetitle">
<h1>The Cupcake Co.</h1>
</div>

<div class="mainobjectbox">
    <div id="cupcakelogo">
        <img src="../public/images/cupcakelogo.png">
    </div>
    <div id="signinbutton">
        <button type="signin">Sign in</button>
    </div>
    <div id="signupbutton">
        <button type="signup">Sign up</button>
    </div>

</div>


</body>
</html>