<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <div id="info">
        <a href="#about" class="infoTextLeft">About</a>
        <a href="#contact" class="infoTextLeft">Contact</a>
    </div>
    <div id="frontsideheader">
        <h2>Design your own cupcake 🧁</h2>
    </div>
    <div id="signinfo">
        <a href="#signup" class="infoTextRight">Sign up</a>
        <a href="#signin" class="infoTextRight">Sign in</a>
    </div>
</div>

<div id="frontsidetitle">
<h1>The Cupcake Co.</h1>
</div>



<div class="mainobjectbox">
    <div id="cupcakelogo">
        <img src="../public/images/cupcakelogo.png">
        <hr id="boxline">
    </div>
    <div id="signinbutton">
        <button type="signin">Sign in</button>
    </div>
    <div id="signupbutton">
        <button type="signup">Sign up</button>
    </div>

</div>


</body>
</html>