<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/menuStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <div id="info">
        <a href="#about" class="infoTextLeft">About</a>
        <a href="#contact" class="infoTextLeft">Contact</a>
    </div>
    <div id="frontsideheader">
        <h2>The Cupcake Co. 🧁</h2>
    </div>
    <div id="signinfo">
        <a href="#signup" class="infoTextRight">Sign up</a>
        <a href="#signin" class="infoTextRight">Sign in</a>
    </div>
</div>

<div class="pinkoutertitlebox">
    <h2>Menu</h2>
</div>

    <div class="pinkouterbox">
        <div class="mainobjectbox">

            <div id="buildYourCupcake">
                <button type="buildCupcake">Build your cupcake</button>
            </div>
            <hr class="boxline">
            <div id="viewOrders">
                <button type="viewOrders">View Orders</button>
            </div>
            <hr class="boxline">
            <div id="viewBasket">
                <button type="viewBasket">View Basket</button>
            </div>
            <hr class="boxline">

        </div>
    </div>

</body>
</html>