<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/menuStyle.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="headerbox">
    <div id="saldoBox">
        <span id="saldoText">Saldo:</span>
        <div id="saldoAmount">
            <span th:text="${currentUser != null ? #numbers.formatDecimal(currentUser.balance, 1, 2) + ' kr.' : '0.00 kr.'}">
                198.99 kr.
            </span>
        </div>
    </div>

    <h1>
        <a href="/menu" class="headerTitleLink">The Cupcake Co. 🧁</a>
    </h1>

    <div id="profileBox">
        <a href="/profile"
           th:text="${currentUser != null ? 'Profile (' + currentUser.email + ')' : 'Profile'}">
            Profile (mail@gmail.com)
        </a>
        <span>/</span>
        <a href="/basket">Basket</a>
    </div>
</div>

<div class="pinkoutertitlebox">
    <h2>Menu</h2>
</div>

    <div class="pinkouterbox">
        <div class="mainobjectbox">

            <div id="buildYourCupcake">
                <a th:href="@{/build-cupcake}">
                    <button type="button">Build your cupcake</button>
                </a>
            </div>

            <hr class="boxline">
            <div id="viewOrders">
                <a th:href="@{/orders}">
                <button type="viewOrders">View Orders</button>
                </a>
            </div>

            <hr class="boxline">
            <div id="viewBasket">
                <a th:href="@{/basket}">
                <button type="viewBasket">View Basket</button>
                </a>
            </div>
            <hr class="boxline">

        </div>
    </div>

</body>
</html>