<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profileStyle.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="headerbox">
    <div id="saldoBox">
        <span id="saldoText">Saldo:</span>
        <div id="saldoAmount">
            <span th:text="${currentUser != null ? #numbers.formatDecimal(currentUser.balance, 1, 2) + ' kr.' : '0.00 kr.'}">
                198.99 kr.
            </span>
        </div>
    </div>

    <h1>
        <a href="/menu" class="headerTitleLink">The Cupcake Co. 🧁</a>
    </h1>

    <div id="profileBox">
        <a href="/profile"
           th:text="${currentUser != null ? 'Profile (' + currentUser.email + ')' : 'Profile'}">
            Profile (mail@gmail.com)
        </a>
        <span>/</span>
        <a href="/basket">Basket</a>
    </div>
</div>

<div class="mainobjectbox">

    <h2 id="myProfileText">My profile</h2>

    <hr class="boxline">

    <div class="valueContainer">
        <h2 class="profileInfoText">Name:</h2>
        <h2 class="profileInfoValueText"
            th:text="${currentUser.firstName + ' ' + currentUser.lastName}">
            Jens Petersen
        </h2>
    </div>

    <hr class="boxline">

    <div class="valueContainer">
        <h2 class="profileInfoText">Mail:</h2>
        <h2 class="profileInfoValueText"
            th:text="${currentUser.email}">
            jenspersen19@gmail.com
        </h2>
    </div>

    <hr class="boxline">

    <div class="valueContainer">
        <h2 class="profileInfoText">Balance:</h2>
        <h2 class="profileInfoValueText"
            th:text="${#numbers.formatDecimal(currentUser.balance, 1, 2) + ' kr.'}">
            120.23 kr.
        </h2>
    </div>

    <hr class="boxline">

    <div class="valueContainer">
        <h2 class="profileInfoText">Role:</h2>
        <h2 class="profileInfoValueText"
            th:text="${currentUser.role}">
            Customer
        </h2>
    </div>

    <hr class="boxline">

    <div id="choices">
        <div class="choiceButton">
            <button type="button" onclick="window.location.href='/basket'">View basket</button>
        </div>
        <div class="choiceButton">
            <button type="button">Add balance</button>
        </div>
        <div class="choiceButton">
            <button type="button" onclick="window.location.href='/logout'">Log out</button>
        </div>
    </div>

</div>

</body>
</html>