<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profileStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <div id="info">
        <a href="#about" class="infoTextLeft">About</a>
        <a href="#contact" class="infoTextLeft">Contact</a>
    </div>
    <div id="frontsideheader">
        <h2>The Cupcake Co. 🧁</h2>
    </div>
    <div id="signinfo">
        <a href="#signup" class="infoTextRight">Sign up</a>
        <a href="#signin" class="infoTextRight">Sign in</a>
    </div>
</div>

<div class="mainobjectbox">

    <h2 id="myProfileText">My profile</h2>

    <hr class="boxline">

    <div class="valueContainer">
        <h2 class="profileInfoText">Name: </h2>
        <h2 class="profileInfoValueText">Jens Petersen</h2>
    </div>

    <hr class="boxline">

    <div class="valueContainer">
        <h2 class="profileInfoText">Mail: </h2><h2
        <h2 class="profileInfoValueText">jenspersen19@gmail.com</h2>
    </div>

    <hr class="boxline">

    <div class="valueContainer">
        <h2 class="profileInfoText">Balance: </h2>
        <h2 class="profileInfoValueText">120.23 kr.</h2>
    </div>

    <hr class="boxline">

    <div class="valueContainer">
        <h2 class="profileInfoText">Role: </h2>
        <h2 class="profileInfoValueText">Customer</h2>
    </div>

    <hr class="boxline">

    <div id="choices">
        <div class="choiceButton">
            <button type="viewBasket">View basket</button>
        </div>
        <div class="choiceButton">
            <button type="addBalance">Add balance</button>
        </div>
        <div class="choiceButton">
            <button type="logout">Log out</button>
        </div>
    </div>


</div>



</body>
</html>