<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../public/css/signupStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <div id="info">
        <a href="#about" class="infoTextLeft">About</a>
        <a href="#contact" class="infoTextLeft">Contact</a>
    </div>
    <div id="frontsideheader">
        <h2>Design your own cupcake 🧁</h2>
    </div>
    <div id="signinfo">
        <a href="#signup" class="infoTextRight">Sign up</a>
        <a href="#signin" class="infoTextRight">Sign in</a>
    </div>
</div>

    <div class="signupBox">
        <div id="createUserText">
            <h1>Create User</h1>
        </div>

        <form class="signup-form">

            <div id="signupMail">
                <input type="email" id="email" name="userEmail" placeholder="Mail" required>
            </div>


            <div id="signupPassword">
                <input type="password" id="password"  name="userPassword" placeholder="Password" required>
            </div>

            <div id="signupConfirmPassword">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repeat Password" required>
            </div>
            <hr id="boxline">

            <div id="signupFirstName">
                <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
            </div>

            <div id="signupLastName">
                <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
            </div>


            <div id="signupButton">
                <button type="submit" value="Sign Up">Sign up</button>
            </div>

        </form>

        </div>

</div>

</body>
</html>