<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>

<div class="header"></div>
    <h1>Design your own cupcake 🧁</h1>
    <img src="public/images/cupcakelogo.png">
</div>

<br>

<div class="siginBox">
    <form>
        <div id="signinMail">
            <label for="mail">Mail:</label>
            <input type="text" id="mail">
        </div>

        <br>

        <div id="signinPassword">
            <label for="password">Password:</label>
            <input type="password" id="password">
        </div>

        <br>

        <div id="signinButton">
            <input type="submit" value="Login">
        </div>

        <br>

        <a href="https://www.w3schools.com">Forgot password</a>
    </form>
</div>

</body>
</html>