<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Orders - The Cupcake Co.</title>
    <link rel="stylesheet" href="/css/Yourorders.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="/js/features.js"></script>
</head>
<body>

<div class="topbar">
    <button onclick="goBack()" class="backBtn">← Back</button>
    <a href="#">Order cupcakes here</a>
</div>

<div class="pagewrapper">

    <div class="headerbox">
        <div id="saldoBox">
            <span id="saldoText">Saldo:</span>
            <div id="saldoAmount">
                <span>199.99 kr.</span>
            </div>
        </div>

        <h1>The Cupcake Co. 🧁</h1>

        <div id="profileBox">
            <a href="#">Profile (mail@gmail.com)</a>
            <span>/</span>
            <a href="#">Basket</a>
        </div>
    </div>

    <div class="mainobjectbox">

        <div id="builderTitleBox">
            Your orders 🧁
        </div>

        <div class="ordersGrid">


            <div class="ordersColumn">
                <div class="columnTitle">Past orders</div>

                <div class="ordersList">

                    <div class="orderCard">
                        <div class="orderHeader">
                            <h2>Order #43</h2>
                            <span>Pickup: 10 april</span>
                        </div>

                        <div class="orderContent">
                            <div class="orderImageBox">
                                <img src="/images/ThreeCupcake.png" alt="Cupcakes">
                            </div>

                            <div class="orderText">
                                <p>5x Strawberry + banana topping</p>
                            </div>
                        </div>

                        <hr>

                        <div class="statusButton completedStatus">
                            <span>Completed</span>
                            <span class="statusDot greenDot"></span>
                        </div>
                    </div>

                    <div class="orderCard">
                        <div class="orderHeader">
                            <h2>Order #19</h2>
                            <span>Pickup: 10 april</span>
                        </div>

                        <div class="orderContent">
                            <div class="orderImageBox">
                                <img src="/images/ThreeCupcake.png" alt="Cupcakes">
                            </div>

                            <div class="orderText">
                                <p>3x Strawberry + chocolate topping</p>
                                <p>3x Strawberry + chocolate topping</p>
                                <p>3x Strawberry + chocolate topping</p>
                            </div>
                        </div>

                        <hr>

                        <div class="statusButton completedStatus">
                            <span>Completed</span>
                            <span class="statusDot greenDot"></span>
                        </div>
                    </div>

                </div>
            </div>


            <div class="ordersColumn">
                <div class="columnTitle">Current orders</div>

                <div class="ordersList">

                    <div class="orderCard">
                        <div class="orderHeader">
                            <h2>Order #2</h2>
                            <span>Pickup: 10 april</span>
                        </div>

                        <div class="orderContent">
                            <div class="orderImageBox">
                                <img src="/images/ThreeCupcake.png" alt="Cupcakes">
                            </div>

                            <div class="orderText">
                                <p>3x Strawberry + chocolate topping</p>
                                <p>5x Chocolate + chocolate topping</p>
                                <p>2x Chocolate + lemon topping</p>
                            </div>
                        </div>

                        <hr>

                        <div class="statusButton progressStatus">
                            <span>In process</span>
                            <span class="statusDot yellowDot"></span>
                        </div>
                    </div>

                    <div class="orderCard">
                        <div class="orderHeader">
                            <h2>Order #3</h2>
                            <span>Pickup: 10 april</span>
                        </div>

                        <div class="orderContent">
                            <div class="orderImageBox">
                                <img src="/images/ThreeCupcake.png" alt="Cupcakes">
                            </div>

                            <div class="orderText">
                                <p>3x Strawberry + chocolate topping</p>
                                <p>2x Strawberry + chocolate topping</p>
                            </div>
                        </div>

                        <hr>

                        <div class="statusButton progressStatus">
                            <span>In process</span>
                            <span class="statusDot yellowDot"></span>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>